<!-- Begin 404 error section -->
<section id="error-section" style="background-image: url(video/video-2/video-2.jpg);">

  <!-- Begin cover -->
  <div class="cover"></div>
  <!-- End cover -->

  <div class="container">
    <div class="caption text-center">
      <h1 class="text-white">404</h1>
      <h2 class="text-white">Page Not found! :(</h2>
    </div> <!-- /.caption -->
  </div> <!-- /.container -->

  <!-- Begin video -->
  <video class="bgvid hidden-sm hidden-xs" autoplay loop poster="video/video-2/video-2.jpg">
    <source src="video/video-2/video-2.mp4" type="video/mp4">
    <source src="video/video-2/video-2.webm" type="video/webm">
    <source src="video/video-2/video-2.ogv" type="video/ogg">
  </video>
  <!-- End video -->

</section>
<!-- End 404 error section -->
