<!-- Begin about section -->
<section id="about-section" class="page">

  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
        <h1>as melhores <span class="text-main">Soluções</span></h1>
        <div class="divider divider-icon divider-md">//</div>
        <p class="lead text-gray">
          Fazer um projeto com a Acens é muito fácil! Não buscamos menos que excelência em nossos projetos, a realização dos nossos clientes também é a nossa!
        </p>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <!-- Begin info box-1 -->
  <div class="info-box-1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0">
              <span class="info-box-icon"><i class="fa fa-send"></i></span>
              <div class="info-box-info">
                <h4>Entre em contato<br><br></h4>
                <div class="divider divider-sm"></div>
                <p>Estamos a disposição para retirar todas as suas dúvidas e fazer orçamentos sem compromisso!</p>
              </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
              <span class="info-box-icon"><i class="fa fa-lightbulb-o"></i></span>
              <div class="info-box-info">
                <h4>Encontre sua Solução</h4>
                <div class="divider divider-sm"></div>
                <p>Soluções tecnologicas<br> por um preço justo. <br>Feche um contrato conosco<br> e inove seu negócio!</p>
              </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
              <span class="info-box-icon"><i class="fa fa-cogs"></i></span>
              <div class="info-box-info">
                <h4>Acompanhe o Projeto</h4>
                <div class="divider divider-sm"></div>
                <p>Durante o desenvolvimento do seu produto acompanhe de perto para que ele fique exatamente como deseja!</p>
              </div>
            </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a class="info-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
              <span class="info-box-icon"><i class="fa fa-rocket"></i></span>
              <div class="info-box-info">
                <h4>Surpreenda-se<br><br></h4>
                <div class="divider divider-sm"></div>
                <p>Aproveite os impactos positivos de sua nova aquisição por um preço abaixo do mercado!</p>
              </div>
            </a>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- End info box-1 -->

  <div class="more-space-l"></div>

  <!-- Begin featured box -->
  <div class="featured-box" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-9 wow bounceInLeft" data-wow-delay="0.2s">
          <!-- Typed-element is configurable through the file "theme.js" -->
          <h2>{Projetos com<br><span class="typed-element text-main"></span> ao<br>seu Alcance}</h2>
          <p class="lead"><em>Somos uma associação sem fins lucrativos, que visa impactar empreendedores com projetos de baixo custo e alta qualidade.</em></p>
        </div>
        <div class="col-md-3 text-right wow bounceInRight" data-wow-delay="0.2s">
          <div class="get-started">
            <a href="#contact-section" class="btn btn-danger btn-lg page-scroll">Entrar em contato!</a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- End featured box -->


  <!-- Begin services section -->
  <section id="services-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/services-bg.jpg);">
    <div class="cover"></div>

    <!-- Begin page header-->
    <div class="page-header-wrapper">
      <div class="container">
        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
          <h1>O que <span class="text-main">Nós Fazemos</span></h1>
          <div class="divider divider-md divider-icon divider-white">//</div>
          <p class="lead">
            Desenvolvemos soluções para atender a sua real necessidade,<br> com um design único e morderno!
          </p>
        </div>
      </div>
    </div>
    <!-- End page header-->

    <!-- Begin services -->
    <div class="services">
      <div class="container">

        <!-- Begin info box-2 -->
        <div class="row">

          <div class="col-md-4">
            <div class="info-box-2 square-icon wow fadeInUp" data-wow-delay="0.5s">
              <div class="info-box-heading">
                <span class="info-box-icon"><i class="fa fa-paint-brush"></i></span>
                <h4>Sites</h4>
              </div>
              <div class="info-box-info">
                <p>Páginas que se adaptam a qualquer tamanho de tela e a todos os dipositivos móveis, com rápido desempenho e de fácil acesso.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info-box-2 square-icon wow fadeInUp" data-wow-delay="0.5s">
              <div class="info-box-heading">
                <span class="info-box-icon"><i class="fa fa-code"></i></span>
                <h4>Sistemas</h4>
              </div>
              <div class="info-box-info">
                <p>Automatize os processos internos de sua empresa ou tenha aplicações on-line para a realização de cadastros, vendas e outras interações com seus clientes.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info-box-2 square-icon wow fadeInUp" data-wow-delay="0.5s">
              <div class="info-box-heading">
                <span class="info-box-icon"><i class="fa fa-wrench"></i></span>
                <h4>Manutenção</h4>
              </div>
              <div class="info-box-info">
                <p>Fornecemos manutenção para suas aplicações, afinal de contas, queremos te dar todo o suporte que precisar.</p>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>
    <!-- End services -->
    <div class="more-space-xxl"></div>
  </section>
  <!-- End services section -->


  <div class="more-space-xl"></div>

  <!-- Begin tabs/skills -->
  <div class="tabs-skills">
    <div class="container">
      <div class="row">

        <!-- Begin tabs -->
        <div class="col-md-6">
          <div class="tabs-panel wow bounceInLeft" data-wow-delay="0.4s" role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="#tab-design" aria-controls="tab-design" role="tab" data-toggle="tab"><i class="fa fa-child"></i> Ser Júnior</a></li>
              <li role="presentation"><a href="#tab-developing" aria-controls="tab-developing" role="tab" data-toggle="tab"><i class="fa fa-binoculars"></i> Visão</a></li>
              <li role="presentation"><a href="#tab-branding" aria-controls="tab-branding" role="tab" data-toggle="tab"><i class="fa fa-check-square-o"></i> Missão</a>
                <li role="presentation"><a href="#tab-history" aria-controls="tab-history" role="tab" data-toggle="tab"><i class="fa fa-users"></i> História</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab-design">
                <h5>Movimento Empresa Júnior</h5>
                <p>Empresa júnior é uma associação civil sem fins lucrativos e com fins educacionais formada exclusivamente por alunos do ensino superior ou Técnico. O objetivo primeiro das empresas juniores é desenvolver pessoal e profissionalmente os seus membros
                  por meio da vivência empresarial...<a href="#" data-toggle="modal" data-target="#portfolioModal-1"><strong>Veja mais</strong></a></p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-developing">
                <h5>Mentes em Desenvolvimento</h5>
                <p>Capacitar nossa equipe garantindo a formação de profissionais qualificados com destaque e liderança nas diversas ramificações do mercado de TI, agregando valores ao Movimento Empresa Júnior.</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-branding">
                <h5>Nosso Objetivo</h5>
                <p>Consolidar a gestão interna da empresa para estabelecer forte presença no mercado e obter renome pelos projetos executados, tornando-se assim, referência entre as empresas de desenvolvimento no estado do Ceará.</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab-history">
                <h5>júnior de TI Pioneira no Ceará</h5>
                <p>Fundada em 2008, a Acens foi criada por alunos da graduação de Ciência da Computação com o intuito de colocar em prática seus conhecimentos para desenvolver aplicações que o mercado exige. Ao longo das gestões, passamos por diversas mudanças
                  que nos trouxeram experiências de enriquecimento...<a href="#" data-toggle="modal" data-target="#portfolioModal-3"><strong>Veja mais</strong></a></p>
              </div>
            </div>

          </div>
        </div>
        <!-- End tabs -->

        <!-- Begin progress bars -->
        <div class="col-md-6">
          <div class="skill-bar wow bounceInRight" data-wow-delay="0.4s">

            <div class="heading">
              <h3>Nossos <span class="text-main">Valores</span></h3>
            </div>

            <h5>Ética</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="percent">100%</span>
              </div>
            </div>

            <h5>Harmonia</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 97%">
                <span class="percent">97%</span>
              </div>
            </div>

            <h5>Profissionalismo</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
                <span class="percent">99%</span>
              </div>
            </div>

            <h5>Comprometimento</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="percent">100%</span>
              </div>
            </div>

            <h5>Espírito empreendedor</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 8001%">
              </div>
            </div>
          </div>

        </div>
        <!-- End progress bars -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>
</section>
