<!-- Begin contact section -->
<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.jpg);">
  <div class="cover"></div>

  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow bounceInDown" data-wow-delay="0.3s">
        <h1>Contate <span class="text-main">Nos</span>
        </h1>
        <div class="divider divider-md divider-icon divider-white">//</div>
        <p class="lead">
          Pronto para sua nova aquisição? Alguma dúvida? Entre em contato conosco,<br>estamos ansiosos para resolver seu problema!
        </p>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <div class="contact wow bounceInRight" data-wow-delay="0.4s">
    <div class="container">

      <div class="row">

        <div class="col-md-6">
          <div class="contact-form">
            <%= render "contacts/form" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="contact-info">
            <h3 class="contact-info-heading">Nossa sede</h3>
            <p>Aguardamos sua visita! Basta agendar e o atenderemos com prazer no horário em que estiver disponível!</p>

            <address>
              <i class="fa fa-briefcase"></i>
              <strong>Associação Acens de Tecnologia</strong>
            </address>
            <address>
              <i class="fa fa-map-marker"></i>
              Av. Dr. Silas Munguba, 1700 - UECE Campus do Itaperi
              <br>
            </address>
            <address>
              Departamento de Pós-Graduação em Computação - Sala 8
            </address>
            <address>
              <i class="fa fa-phone"></i>
              (85) 9 9768-3660
            </address>
            <address>
              <i class="fa fa-envelope"></i>
              <a href="mailto:contato.acens@gmail.com">contato.acens@gmail.com</a>
            </address>
          </div>
        </div>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.contact -->
  <div class="more-space-xxl"></div>
</section>
<!-- End contact section -->
