<!-- Begin text carousel intro section -->
<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/intro-bg/intro-bg-5.jpg);">
  <div class="container">
    <div class="caption text-center text-white" data-stellar-ratio="0.7">

      <div id="owl-intro-text" class="owl-carousel">
        <% unless @articles.blank? %>
        <div class="item">
          <h1><%= @articles.last.title %></h1>
          <h3><%= @articles.last.subtitle %></h3>
          <div class="more-space-m"></div>
          <%= link_to "Ver mais", article_path(@articles.last), class: "btn btn-main btn-lg page-scroll", role:"button" %>
        </div>
        <% end %>
        <div class="item">
          <h1>Acens</h1>
          <h3>A realização da sua aplicação começa aqui.</h3>
          <div class="more-space-m"></div>
          <a class="btn btn-main btn-lg page-scroll" href="#about-section" role="button">Começar!</a>
        </div>
        <div class="item">
          <h1>Mais de 8 anos no mercado</h1>
          <h3>Desenvolvendo sites e soluções web</h3>
          <div class="more-space-m"></div>
          <a class="btn btn-main btn-lg page-scroll" href="#services-section" role="button">Veja nossos serviços</a>
        </div>
        <div class="item">
          <h1>PRONTO PARA NOS CONHECER?</h1>
          <h3>não perca tempo!</h3>
          <div class="more-space-m"></div>
          <a class="btn btn-main btn-lg page-scroll" href="#about-section" role="button">conheça-nos</a>
        </div>
      </div>
    </div>
    <!-- /.caption -->
  </div>
  <!-- /.container -->

</section>
<!-- End text carousel intro section -->
