<div class="lobipanel-multiple">
  <div class="row">
    <h3 class="text-center">Avisos</h3>
	<div class="col-md-offset-2">
		 <ol>
		  <li>Será ofertado somente a carreira com maior número de inscritos</li>
      <li>Só poderá se inscrever alunos da Universidade Estadual do Ceará - UECE</li>
      <li>Só poderá se inscrever se esse for seu primeiro acesso na Alura</li>
		  <li>A duração da carreira mais votada será de 3 meses</li>
		  <li>Período de inscrição: XX a XX de Março.</li>
		</ol>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <p>
        <i>Verifique os cursos/ementa de cada carreira</i>
      </p>
      <label for="">Lista de carreiras e seus cursos:</label>

    </div>
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Produção Gráfica com Photoshop
              <i class="fab fa-adobe"></i>
            </h4>
          </div>
        </div>

        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cursos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Curso Photoshop: Composição de peça publictária</td>
              </tr>
              <tr>
                <td>Curso Photoshop: Conceitue e esboce um personagem publictário</td>
              </tr>
              <tr>
                <td>Curso Photoshop: Contando histórias por meio de uma imagem</td>
              </tr>
              <tr>
                <td>Curso Photoshop: Crie um esboço de um poster de super herói</td>
              </tr>
              <tr>
                <td>Curso Photoshop: Acabamento e entrega de um poster de super herói</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Web Design
              <i class="far fa-object-group"></i>
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cursos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Curso Photoshop para web 1 : Crie suas páginas da Web</td>
              </tr>
              <tr>
                <td>Curso Photoshop para web 2 : Layouts Avançados</td>
              </tr>
              <tr>
                <td>Curso Ilustrator: Crie layouts para Web</td>
              </tr>
              <tr>
                <td>Curso Email marketing: Design do seu Email</td>
              </tr>
              <tr>
                <td>Curso Facebook: Criação de imagens e Anúncios</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Dev. Ruby on Rails
              <i class="fas fa-gem"></i>
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cursos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Curso Ruby 1 : Introdução a Lógica de programação com jogos</td>
              </tr>
              <tr>
                <td>Curso Ruby 2 : Continuando seus primeiros passos na programação</td>
              </tr>
              <tr>
                <td>Curso Ruby 3 : Mais lógica de programação em um novo jogo</td>
              </tr>
              <tr>
                <td>Curso Ruby on Rails 4 : Do zero à Web</td>
              </tr>
              <tr>
                <td>Curso Orientação a Objetos: Melhores técnicas com Ruby</td>
              </tr>
              <tr>
                <td>Curso Ruby on Rails 5 parte 1 : Fundamentos</td>
              </tr>
              <tr>
                <td>Curso Ruby on Rails 5 parte 2 : Validação, atualização, partials e deploy</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
