<div class="lobipanel-multiple">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-success" value="1">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Pack Android <i class="fa fa-android"></i></h4>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cursos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Android I: Crie sua App fantástica com Android Studio</td>
              </tr>
              <tr>
                <td>Android II: Integração com apps e recursos do device</td>
              </tr>
              <tr>
                <td>Android III: Aprimore sua app com Fragments, Google Maps e GPS</td>
              </tr>
              <tr>
                <td>Jogos com Android: Desenvolva seu próprio Flappy Bird</td>
              </tr>
              <tr>
                <td>Android com Web Service parte 1: Sincronize sua app com o servidor</td>
              </tr>
              <tr>
                <td>Android com Web Service parte 2: mais técnicas de sincronização</td>
              </tr>
              <tr>
                <td>Android com Web Service parte 3: sincronização em modo offline</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-info" value="2">
        <div class="panel-heading">
          <div class="panel-title">
            <h4>Pack Front-End <i class="fa fa-html5"></i>
            <i class="fa fa-css3"></i> <i class="fa fa-javascript"></i></h4>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cursos</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>-HTML5 e CSS3 I: Suas primeiras páginas da Web.</td>
              </tr>
              <tr>
                <td>-HTML5 e CSS3 II: Turbinando as suas páginas.</td>
              </tr>
              <tr>
                <td>JavaScript: Programando na linguagem da web.</td>
              </tr>
              <tr>
                <td>jQuery: Domine a biblioteca mais popular do mercado</td>
              </tr>
              <tr>
                <td>jQuery: Avance na biblioteca mais popular do mercado parte 2</td>
              </tr>
              <tr>
                <td>Web Design Responsivo: Páginas que se adaptam do mobile ao desk</td>
              </tr>
              <tr>
                <td>Front-end: Projeto final de carreira</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-offset-2 col-md-8">
      <p><i>Caso não feche turma para a primeira opção, você será inscrito na segunda</i></p>
    </div>
  </div>
</div>
